factorydata/pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM COPYMETADATA WHERE TABLE_NAME = 'Users'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "."
								},
								{
									"name": "Destination",
									"value": "@{'landing5'}/@{item().Destination_Path}/@{concat(item().Table_Name,item().File_Format)}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@item().Source_SQL",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							}
						},
						{
							"name": "On Success",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[InsertCopyLog]",
								"storedProcedureParameters": {
									"DestinationPath": {
										"value": {
											"value": "@concat('landing5/',item().Destination_Path, '/',item().Table_Name,'/', item().File_Format)",
											"type": "Expression"
										},
										"type": "String"
									},
									"DurationInSeconds": {
										"value": {
											"value": "@activity('Copy data1').output.copyDuration",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"IsSucceeded": {
										"value": "TRUE",
										"type": "Boolean"
									},
									"RowsCopied": {
										"value": {
											"value": "@activity('Copy data1').output.rowsCopied",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"StartTime": {
										"value": {
											"value": "@activity('Copy data1').output.executionDetails[0].start",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"TableName": {
										"value": {
											"value": "@item().Table_Name",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							}
						},
						{
							"name": "On Failure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[InsertCopyLog]",
								"storedProcedureParameters": {
									"DestinationPath": {
										"value": {
											"value": "@concat('landing5/',item().Destination_Path, '/',item().Table_Name,'/', item().File_Format)",
											"type": "Expression"
										},
										"type": "String"
									},
									"DurationInSeconds": {
										"value": {
											"value": "@activity('Copy data1').output.copyDuration",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"IsSucceeded": {
										"value": "FALSE",
										"type": "Boolean"
									},
									"RowsCopied": {
										"value": {
											"value": "@activity('Copy data1').output.rowsCopied",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"StartTime": {
										"value": {
											"value": "@activity('Copy data1').output.executionDetails[0].start",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"TableName": {
										"value": {
											"value": "@item().Table_Name",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-07-17T05:11:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}